<% include ../layout/header.ejs %>
<% include ../layout/nav.ejs %>
<div class="container" id="app">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-picture"></span>
				</button>
			</div>
			<div class="form-group">
				<textarea rows="25" class="form-control" :value="con" @input="update"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-info">保存</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-control" v-html="compiledMarkdown" style="height: 100%;"></div>
		</div>
	</div>
</div>
<% include ../layout/footer.ejs %>
