<% include ../layout/header.ejs %>
<% include ../layout/nav.ejs %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<% include ../layout/flash.ejs %>
		</div>
		<div class="col-md-9" id="app">
			<% include media.ejs %>
		</div>
	</div>
</div>
<% include ../layout/footer.ejs %>
