<div class="media" v-for="item in article">
	<div class="media-body">
		<h3 class="media-heading">中国在太空建超级宽带网！飞机高铁将可快速上网</h3>
		<p>2017-12-20&nbsp;&nbsp;&nbsp;&nbsp;来源:风筝网&nbsp;&nbsp;&nbsp;&nbsp;作者: Breda</p>
		“我们都有这样的感受，在飞机、高铁、轮船等交通工具上的上网体验不好，飞机机舱内不能上网，高铁列车上手机信号时断时续，游轮驶离港口后就变成信息孤岛……这主要是由于地面移动网络无法实现全面覆盖，即使能覆盖、但跨越不同区域导致切换过于频繁，难以为高速交通工具提供服务。”实践十三号卫星工程总师刘方介绍，我国幅员辽阔、地形复杂，在一些地方，信息传递仍然存在盲区。实践十三号则不受地面条件限制，可以凭借其快捷组网、高速接入的特点，以及低成本优势，很好地解决这一问题，实现无缝“动中通”。
	</div>
</div>
