<div class="media" v-for="item in article">
	<div class="media-body">
		<h3 class="media-heading">{{ item.title }}</h3>
		<p>{{ item.time.minute }}&nbsp;&nbsp;&nbsp;&nbsp;来源:{{ item.source }}&nbsp;&nbsp;&nbsp;&nbsp;作者: {{ item.author }}</p>
		<p>{{ item.content }}</p>
	</div>
</div>
