<% if (error) { %>
<div class="row">
	<div class="alert alert-success" role="alert">
		<%= error %>
	</div>
</div>
<% } %>
<% if (success) { %>
<div class="row">
	<div class="alert alert-success" role="alert">
		<%= success %>
	</div>
</div>
<% } %>
