<ul class="nav navbar-nav navbar-right">
	<% if(user) { %>
	<li><a href="/admin/post">发表</a></li>
	<li><a href="/login/out">登出</a></li>
	<% } else{ %>
	<li><a href="/login">登录</a></li>
	<li><a href="/users/reg">注册</a></li>
	<% } %>
</ul>
